<div [formGroup] ="stockForm" *ngIf="!stockCreate">
<h3> New Stock</h3>
  <label>
    Name:
    <input type="text" formGroupName="name">
  </label>
  <label>
    Description:
      <input type="text" formGroupName="description">
  </label>
  <label>
    Start Value:
      <input type="number" formGroupName="value">
  </label>
  <button type="button" (click)="createStock()"> Create</button>
</div>
<h4 *ngIf="error" style="color: darkred"> {{error}}</h4>
<div *ngIf="stockCreate">
  {{stockCreate | json}}
  <button (click)="stockCreate = undefined"> Back </button>
</div>
