<div id="inside" *ngIf="chatClient">
  <H1 id="welcome">Logged in as:</H1> <H1 id="namee"> {{chatClient.name}}</H1>

  <div *ngIf="clients$ | async as clients">
    <h5 id="currentUsers"> Current users online: {{clients.length}}</h5>
  </div>

  <label>
    Message:
    <input type="text"  [formControl]="message">
  </label>

  <button (click)="sendMessage()">Send Message</button>
     <h3> {{message.value}}</h3>


  <h4 *ngFor="let message of messages">
    <h3 id="message"> Says:</h3>
    {{message.sender?.name}} : {{message.message}}
  </h4>

</div>

<div id="username" *ngIf="!chatClient">
  <label  id="name">
    Hello! What is your name?
  </label>
    <input id="inputName" type="text" class="form-control" placeholder="Enter username" aria-label="Username" [formControl]="nameFC">


  <button class="btn btn-outline" id="setname" (click)="sendName()">Set Name</button>
     <h3> {{nameFC.value}}</h3>

</div>

<div *ngIf="error$ | async as error" class="alert alert-danger">
    {{error}}
</div>

 <div *ngIf="clients$ | async as clients">
   <h2 id="username1"> Online:{{clients.length}} users</h2>
  <ul>
    <li *ngFor="let client of clients">
       {{client.name}}
    </li>
  </ul>
</div>


