#username{
  margin-top: 40px;
  border-radius: 15px;
}

#name{
  font-size: 25px;
  font-family: "Comic Sans MS", fantasy;
  color: #512DA8;

}
#inputName{
 /* margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  margin-left: 20px; */
}
#setname{
  border: 2px solid #512DA8;
  color: #B39DDB;
  background: #512DA8;
}
#username1{
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  font-size: 21px;
  color: #7E57C2;
}
#username2 {
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  color: #B39DDB;
}
#welcome{
  font-size: 25px;
  color: #7E57C2;
  margin-top:-95px;
}
#namee{
  font-family: "Comic Sans MS", fantasy;
  font-size: 20px;
  color: #9575CD;
}

#currentUsers{
  font-size: 20px;
  float: right;
  margin-top:-65px;
  color: #512DA8;
}

#chatHeader{
  font-size: 20px;
  font-style: oblique;
  color: #512DA8;
}

#useronlineheader{
  font-size: 20px;
  font-style: oblique;
  color: #512DA8;
}

#curusercount{
  font-size: 20px;
  float: right;
  right: 135px;
  color: #512DA8;
}

#messagebox{
  margin-right: 700px;
}

#sendmsg {
  border: 2px solid #512DA8;
  color: #B39DDB;
  background-color: #512DA8;
}

#chatHistory{
  margin-left: 30px;
  color: #512DA8;
}
#message{
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  font-size: 15px;
  margin-left: 5px;
  color: #7E57C2;
}

#typing{
  color: #512DA8;
  font-size: 15px;
  padding-bottom: 25px;
}

#matcard{
  background-color: #B39DDB;
  border-radius: 8px;
  border:3px solid #512DA8;
}
