//Angular powered Bootstrap
<!--
        <div class="container-fluid">
          <div id="inside" *ngIf="chatClient">
            <div class="row">
              <h5 id="welcome">Logged in as: <span id="namee">{{ chatClient.name }}</span></h5>
            </div>
            <div *ngIf="clients$ | async as clients">
              <h5 id="currentUsers">
                Current users online:
                <span id="curusercount"> {{ clients.length }}</span>
              </h5>
            </div>

          </div>

      <div class="card-body">
        <div id="allmsgs">
          <h4 *ngFor="let message of messages">
            <h3 id="message">{{ message.sender?.name }} :</h3>
            <h3 id="chatHistory">{{ message.message }}</h3>
          </h4>
        </div>
      </div>
      <div class="card-footer">
        <div class="container-fluid px-0">
          <div class="row">
            <div class="col-12 col-sm-3">
              <h5 *ngIf="clientsTyping.length > 0" id="typing">
            <span *ngFor="let client of clientsTyping; let i = index">
              {{ client.name }}
              <span *ngIf="clientsTyping.length -1 > i">
                ,
              </span>
            </span>
                is typing...
              </h5>
            </div>
            <div class="col-9 col-sm-11">


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <div *ngIf="clients$ | async as clients">
      <h2 id="username1">Online:</h2>
      <ul>
        <li id="username2" *ngFor="let client of clients">
          {{ client.name }}
        </li>
      </ul>
    </div>
  </div>
</div> -->

<div class="row vh-100" style="padding-top: 30px; padding-bottom: 20px" *ngIf="chatClient">
  <div class="col-4">
    <div class="card h-100">
      <div class="card-header">
        Users Online
      </div>
      <div class="card-body">
        <div *ngIf="clients$ | async as clients">
          <ul>
            <li *ngFor="let client of clients">
              {{client.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card h-100">
      <div class="card-header">
       Chat <h5 id="namee"> Hi {{chatClient.name}}</h5>
      </div>
      <div class="card-body">
          <div *ngFor="let message of messages">
            <div class="card flex-row flex-wrap">
              <div class="card-header border-0">
                <img src="//placehold.it/40" alt="">
            <h6 class="card-title" id="message">{{ message.sender?.name }}</h6>
              </div>
              <div class="card-block px-2">
            <p class="card-text" id="chatHistory">{{ message.message }}</p>
            </div>
          </div>
          </div>
      </div>
      <div class="card-footer">
        <div style="height: 10px">
          <h5
            *ngIf="clientsTyping.length > 0" id="typing">
            <span *ngFor="let client of clientsTyping; let i = index">
                {{client.name}}
              <span *ngIf="clientsTyping.length - 1 > i">
                ,
              </span>
            </span>
            is typing...
          </h5>
        </div>
        <form class="form-inline">
          <div class="input-group flex-fill">
            <input type="text" class="form-control" [formControl]="message" placeholder="Write message here..">
            <button type="button" id="sendmsg" (click)="sendMessage()" class="btn btn-outline">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="form-group">
            <input
              id="inputName"
              type="text"
              class="form-control"
              placeholder="Enter username"
              aria-label="Username"
              [formControl]="nameFC"
            />
          </div>
        </div>
      </div>
        <button
          class="btn btn-outline btn-block mb-4"
          id="setname"
          (click)="sendName()"
        >
          Set Name
        </button>
    </div> -->
<div class="row align-items-center justify-content-center vh-100" *ngIf="!chatClient">
  <div class="card">
    <div class="card-body">
      <h5 class="text-center" id="name">Hello! What is your name?</h5>
      <form>
        <div class="form-group" >
          <label for="inputName">Enter Username:</label>
          <input type="text" id="inputName" [formControl]="nameFC">
        </div>
        <div class="row justify-content-end">
          <button type="button" (click)="sendName()" class="btn btn-success">Send</button>
        </div>
        <div *ngIf="error$ | async as error" class="alert alert-danger">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>

