#username{
  margin: 40px;

}
#name{
  font-size: 20px;
}
#username1{
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  color: blueviolet;
}
#message{
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  color: deepskyblue;
}
#welcome{
 font-family: "Hiragino Kaku Gothic Std", fantasy;
 color: blueviolet;

}
