#username{
  margin-top: 40px;
  border-radius: 15px;
}
#inside{
  margin: 50px 0px 20px;
}
#name{
  font-size: 25px;
  font-family: "Comic Sans MS", fantasy;
  color: #512DA8;
}
#inputName{
  margin-top: 30px;
  margin-bottom: 10px;
}
#setname{
  border: 2px solid #512DA8;
  color: #B39DDB;
}
#username1{
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  font-size: 21px;
  color: #7E57C2;
}
#username2 {
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  color: #B39DDB;
}
#welcome{
  font-size: 25px;
  color: #7E57C2;
  margin-top:-95px;
}
#namee{
  font-family: "Comic Sans MS", fantasy;
  font-size: 25px;
  color: #9575CD;
}

#currentUsers{
  font-size: 20px;
  float: right;
  margin-top:-88px;
  color: #7E57C2;
}

#curusercount{
  font-size: 20px;
  float: right;
  right: 120px;
  color: #9575CD;
}

#messagebox{
  margin-right: 700px;
}

#sendmsg {
  border: 2px solid #512DA8;
  color: #B39DDB;
}

#chatHistory{
  margin-left: 30px;
  color: #B39DDB;
}
#message{
  font-family: "Hiragino Kaku Gothic Std", fantasy;
  font-size: 25px;
  margin-left: 5px;
  color: #7E57C2;
}

#typing{
  color: #B39DDB;
  font-size: 10px;
}

