#title{
  font-family: "Apple SD Gothic Neo", fantasy;
  font-size:35px;
  margin: 30px;
  color: darkslateblue;
}

#home{
  margin-left: 450px;
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: midnightblue;
  background-color: palevioletred;
  border-radius: 15px;
}
#chat{
  margin-left: 200px;
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color:midnightblue;
  background-color: palevioletred;
  border-radius: 15px;
}
#div{
  margin: -8px;
  background: darkslateblue;
}

