#title{
  font-family: "Apple SD Gothic Neo", fantasy;
  font-size:35px;
  margin: 30px 0px 30px 0px;
  color: #B39DDB;
}
nav {
  background:#512DA8;
}
#home{
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: #9575CD;
  background-color: #512DA8;
  border-radius: 25px;

}
#chat{
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: #9575CD;
  background-color: #512DA8;
  border-radius: 25px;
}
#div{
  background: #512DA8;
}

