@import "~bootstrap/dist/css/bootstrap.css";
#title{
  font-family: "Apple SD Gothic Neo", fantasy;
  font-size:35px;
  margin: 30px 0px 30px 0px;
  color: #B39DDB;
}
nav {
  background:#512DA8;
}
#home{
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: #9575CD;
  background-color: #512DA8;
  border-radius: 45px;

}
#chat{
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: #9575CD;
  background-color: #512DA8;
  border-radius: 45px;
}
#div{
  margin: -8px 0px 0px;
  background: #512DA8;
}
#welcome{
  background-color: black;
  margin: 40px 0 20px 0;
  border-radius: 5px;
  border:8px solid #512DA8;
}
