@import "~bootstrap/dist/css/bootstrap.css";
#title{
  font-family: "Apple SD Gothic Neo", fantasy;
  font-size:35px;
  margin: 30px 30px 30px 300px;
  color: #B39DDB;
}

#home{
  margin-left: 500px;
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: #9575CD;
  background-color: #512DA8;
  border-radius: 45px;

}
#chat{
  margin-left: 260px;
  font-family: "Comic Sans MS", fantasy;
  font-size:30px;
  color: #9575CD;
  background-color: #512DA8;
  border-radius: 45px;
}
#div{
  margin: -8px 0px 0px;
  background: #512DA8;
}
#welcome{
  background-color: #B39DDB;
  margin: 40px 200px 20px;
  border-radius: 5px;
  border:8px solid #512DA8;
}
